body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: block;
  margin: auto;
  width: 60%;
}
.imagemap {
  margin: auto;
  width: 100%;
}
.imagemap img {
  width: 100%;
}
.image-overlay {
  position: relative;
}

.overlay-image {
  width: 0.5vw;
  height: 0.5vw;
  position: absolute;
  cursor: help;
  padding: 8px;
}

.data {
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes zoomin {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.2);
  }
}

.data img {
  animation: zoomin 2s ease;
  transform: scale(1.2);
  position: absolute;
  width: 18vw;
  z-index: 99;
}

.data .image-1 {
  top: 2vw;
  right: 25vw;
}

.data .image-2 {
  top: 12.2vw;
  right: 17vw;
}
.data .image-3 {
  top: 1vw;
  right: 40vw;
}
.data .image-4 {
  top: 2vw;
  right: 60vw;
}
.data .image-5 {
  top: 35vw;
  right: 17vw;
}
.data .image-6 {
  top: 35vw;
  right: 42vw;
  width: 24.5vw;
}
.data .image-7 {
  top: 34vw;
  right: 60vw;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}
.double-bounce1,
.double-bounce2 {
  background: #ff0;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.double-bounce2 {
  animation: pulse 2.5s ease-out infinite;
  animation-duration: 2.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: pulse;
  opacity: 0.5;
}

.double,
.double-2 {
  background: rgb(214, 7, 7);
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
@keyframes pulse {
  100% {
    opacity: 0;
    transform: scale(10);
  }
}
